
@{
    ViewBag.Title = "Result";
}

<body>
    <h2>Результат</h2>
    <div>ID: @ViewBag.ID</div>
    <div>Название: @ViewBag.Name</div>
    <div>Тип: @ViewBag.Type</div>
    <div>Строки: @ViewBag.Rows</div>
    <div>В строю: @ViewBag.Active</div>
</body>

